In [6]:
import pandas as pd 
import numpy as np

In [7]:
data=pd.read_csv("Assignment-2_Data.csv")
data.head()

,Id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,1001,999,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,1002,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,1003,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,1004,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,1005,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [8]:
data.describe()

,Id,age,balance,day,duration,campaign,pdays,previous
count,45200.000000,45200.000000,45200.000000,45200.000000,45200.000000,45200.000000,45200.000000,45200.000000
mean,23611.490686,40.954292,1362.565686,15.809049,258.141637,2.764270,40.207854,0.580465
std,13048.276539,11.539117,3045.076372,8.321781,257.438318,3.098276,100.138866,2.303704
min,1001.000000,-1.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,12311.750000,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,23611.500000,39.000000,449.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,34911.250000,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,46211.000000,999.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [9]:
data.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45200 entries, 0 to 45199
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         45200 non-null  int64
 1   age        45200 non-null  int64
 2   job        45200 non-null  object
 3   marital    45200 non-null  object
 4   education  45200 non-null  object
 5   default    45200 non-null  object
 6   balance    45200 non-null  int64
 7   housing    45200 non-null  object
 8   loan       45200 non-null  object
 9   contact    45200 non-null  object
 10  day        45200 non-null  int64
 11  month      45200 non-null  object
 12  duration   45200 non-null  int64
 13  campaign   45200 non-null  int64
 14  pdays      45200 non-null  int64
 15  previous   45200 non-null  int64
 16  poutcome   45200 non-null  object
 17  y          45200 non-null  object
dtypes: int64(8), object(10)
memory usage: 6.2+ MB

In [10]:
data.isnull().sum()

Id           0
age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
encoder = LabelEncoder()
data['job'] = encoder.fit_transform(data['job'])
job = {index : label for index, label in enumerate(encoder.classes_)}
job

{0: 'admin.',
 1: 'blue-collar',
 2: 'entrepreneur',
 3: 'housemaid',
 4: 'management',
 5: 'retired',
 6: 'self-employed',
 7: 'services',
 8: 'student',
 9: 'technician',
 10: 'unemployed',
 11: 'unknown'}

In [13]:
data['marital'] = encoder.fit_transform(data['marital'])
marital = {index : label for index, label in enumerate(encoder.classes_)}
marital

{0: 'divorced', 1: 'married', 2: 'single'}

In [14]:
data['education'] = encoder.fit_transform(data['education'])
education = {index : label for index, label in enumerate(encoder.classes_)}
education

{0: 'primary', 1: 'secondary', 2: 'tertiary', 3: 'unknown'}

In [15]:
data['default'] = encoder.fit_transform(data['default'])
default = {index : label for index, label in enumerate(encoder.classes_)}
default

{0: 'no', 1: 'yes'}

In [16]:
data['loan'] = encoder.fit_transform(data['loan'])
loan = {index : label for index, label in enumerate(encoder.classes_)}
loan

{0: 'no', 1: 'yes'}

In [17]:
data['contact'] = encoder.fit_transform(data['contact'])
contact = {index : label for index, label in enumerate(encoder.classes_)}
contact

{0: 'cellular', 1: 'telephone', 2: 'unknown'}

In [18]:
data['month'] = encoder.fit_transform(data['month'])
month = {index : label for index, label in enumerate(encoder.classes_)}
month

{0: 'apr',
 1: 'aug',
 2: 'dec',
 3: 'feb',
 4: 'jan',
 5: 'jul',
 6: 'jun',
 7: 'mar',
 8: 'may',
 9: 'nov',
 10: 'oct',
 11: 'sep'}

In [19]:
data['poutcome'] = encoder.fit_transform(data['poutcome'])
poutcome = {index : label for index, label in enumerate(encoder.classes_)}
poutcome

{0: 'failure', 1: 'other', 2: 'success', 3: 'unknown'}

In [23]:
data['housing'] = encoder.fit_transform(data['housing'])
housing = {index : label for index, label in enumerate(encoder.classes_)}
housing

{0: 'no', 1: 'yes'}

In [24]:
x = data.drop('y', axis=1)
y = data['y']

In [25]:
from sklearn.preprocessing import MinMaxScaler

In [26]:
scaler = MinMaxScaler(copy=True, feature_range=(0, 1))
X = scaler.fit_transform(x)

#showing data
print('x \n' , X[:10])
print('y \n' , y[:10])

x
 [[0.00000000e+00 1.00000000e+00 3.63636364e-01 5.00000000e-01
  6.66666667e-01 0.00000000e+00 9.22593648e-02 1.00000000e+00
  0.00000000e+00 1.00000000e+00 1.33333333e-01 7.27272727e-01
  5.30703538e-02 0.00000000e+00 0.00000000e+00 0.00000000e+00
  1.00000000e+00]
 [2.21190002e-05 4.50000000e-02 8.18181818e-01 1.00000000e+00
  3.33333333e-01 0.00000000e+00 7.30666570e-02 1.00000000e+00
  0.00000000e+00 1.00000000e+00 1.33333333e-01 7.27272727e-01
  3.07035380e-02 0.00000000e+00 0.00000000e+00 0.00000000e+00
  1.00000000e+00]
 [4.42380004e-05 3.40000000e-02 1.81818182e-01 5.00000000e-01
  3.33333333e-01 0.00000000e+00 7.28215278e-02 1.00000000e+00
  1.00000000e+00 1.00000000e+00 1.33333333e-01 7.27272727e-01
  1.54534364e-02 0.00000000e+00 0.00000000e+00 0.00000000e+00
  1.00000000e+00]
 [6.63570007e-05 4.80000000e-02 9.09090909e-02 5.00000000e-01
  1.00000000e+00 0.00000000e+00 8.64761317e-02 1.00000000e+00
  0.00000000e+00 1.00000000e+00 1.33333333e-01 7.27272727e-01
  1.87067914e-02 0.00000000e+00 0.00000000e+00 0.00000000e+00
  1.00000000e+00]
 [8.84760009e-05 3.40000000e-02 1.00000000e+00 1.00000000e+00
  1.00000000e+00 0.00000000e+00 7.28124489e-02 0.00000000e+00
  0.00000000e+00 1.00000000e+00 1.33333333e-01 7.27272727e-01
  4.02602684e-02 0.00000000e+00 0.00000000e+00 0.00000000e+00
  1.00000000e+00]
 [1.10595001e-04 3.60000000e-02 3.63636364e-01 5.00000000e-01
  6.66666667e-01 0.00000000e+00 7.49005865e-02 1.00000000e+00
  0.00000000e+00 1.00000000e+00 1.33333333e-01 7.27272727e-01
  2.82635218e-02 0.00000000e+00 0.00000000e+00 0.00000000e+00
  1.00000000e+00]
 [1.32714001e-04 2.90000000e-02 3.63636364e-01 1.00000000e+00
  6.66666667e-01 0.00000000e+00 7.68616200e-02 1.00000000e+00
  1.00000000e+00 1.00000000e+00 1.33333333e-01 7.27272727e-01
  4.41236275e-02 0.00000000e+00 0.00000000e+00 0.00000000e+00
  1.00000000e+00]
 [2.21190002e-04 4.20000000e-02 0.00000000e+00 0.00000000e+00
  3.33333333e-01 0.00000000e+00 7.52546620e-02 1.00000000e+00
  0.00000000e+00 1.00000000e+00 1.33333333e-01 7.27272727e-01
  4.51403009e-02 0.00000000e+00 0.00000000e+00 0.00000000e+00
  1.00000000e+00]
 [2.43309002e-04 3.00000000e-02 0.00000000e+00 1.00000000e+00
  3.33333333e-01 0.00000000e+00 7.63441251e-02 1.00000000e+00
  0.00000000e+00 1.00000000e+00 1.33333333e-01 7.27272727e-01
  2.78568524e-02 0.00000000e+00 0.00000000e+00 0.00000000e+00
  1.00000000e+00]
 [2.65428003e-04 5.40000000e-02 8.18181818e-01 5.00000000e-01
  3.33333333e-01 0.00000000e+00 7.28578432e-02 1.00000000e+00
  0.00000000e+00 1.00000000e+00 1.33333333e-01 7.27272727e-01
  1.05124034e-01 0.00000000e+00 0.00000000e+00 0.00000000e+00
  1.00000000e+00]]
y
 0    no
1    no
2    no
3    no
4    no
5    no
6    no
7    no
8    no
9    no
Name: y, dtype: object

In [27]:
from sklearn.model_selection import train_test_split

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=33,random_state=0)

In [29]:
print("x_train shape is",x_train.shape)

x_train shape is (45167, 17)

In [30]:
print("y_train shape is",y_train.shape)

y_train shape is (45167,)

In [31]:
print("x_test shape is ",x_test.shape)

x_test shape is  (33, 17)

In [32]:
print("y_test shape is",y_test.shape)

y_test shape is (33,)

In [33]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [34]:
RandomForestClassifierModel = RandomForestClassifier(criterion = 'gini',n_estimators=100,max_depth=2,random_state=33) #criterion can be also : entropy 
RandomForestClassifierModel.fit(x_train, y_train)

#Calculating Details
print('RandomForestClassifierModel Train Score is : ' , RandomForestClassifierModel.score(x_train, y_train))
print('RandomForestClassifierModel Test Score is : ' , RandomForestClassifierModel.score(x_test, y_test))
print('RandomForestClassifierModel features importances are : ' , RandomForestClassifierModel.feature_importances_)
print('----------------------------------------------------')

#Calculating Prediction
y_pred = RandomForestClassifierModel.predict(x_test)
y_pred_prob = RandomForestClassifierModel.predict_proba(x_test)
print('Predicted Value for RandomForestClassifierModel is : ' , y_pred[:10])
print('Prediction Probabilities Value for RandomForestClassifierModel is : ' , y_pred_prob[:10])

RandomForestClassifierModel Train Score is :  0.8829455133172449
RandomForestClassifierModel Test Score is :  0.9393939393939394
RandomForestClassifierModel features importances are :  [0.30444593 0.04929669 0.00061094 0.00116211 0.00259447 0.
 0.00322855 0.0305198  0.         0.02793829 0.00139184 0.13057013
 0.28428464 0.00130769 0.07561975 0.0343466  0.05268257]
----------------------------------------------------
Predicted Value for RandomForestClassifierModel is :  ['no' 'no' 'no' 'no' 'no' 'no' 'no' 'no' 'no' 'no']
Prediction Probabilities Value for RandomForestClassifierModel is :  [[0.92710844 0.07289156]
 [0.92147785 0.07852215]
 [0.79499704 0.20500296]
 [0.9289793  0.0710207 ]
 [0.92773932 0.07226068]
 [0.68045216 0.31954784]
 [0.89231196 0.10768804]
 [0.88812128 0.11187872]
 [0.928492   0.071508  ]
 [0.71924019 0.28075981]]

In [39]:
DecisionTreeClassifierModel = DecisionTreeClassifier(criterion='gini',max_depth=1,random_state=33) #criterion can be entropy
DecisionTreeClassifierModel.fit(x_train, y_train)

#Calculating Details
print('DecisionTreeClassifierModel Train Score is : ' , DecisionTreeClassifierModel.score(x_train, y_train))
print('DecisionTreeClassifierModel Test Score is : ' , DecisionTreeClassifierModel.score(x_test, y_test))
print('DecisionTreeClassifierModel Classes are : ' , DecisionTreeClassifierModel.classes_)
print('DecisionTreeClassifierModel feature importances are : ' , DecisionTreeClassifierModel.feature_importances_)
print('----------------------------------------------------')

#Calculating Prediction
y_pred = DecisionTreeClassifierModel.predict(x_test)
y_pred_prob = DecisionTreeClassifierModel.predict_proba(x_test)
print('Predicted Value for DecisionTreeClassifierModel is : ' , y_pred[:10])
print('Prediction Probabilities Value for DecisionTreeClassifierModel is : ' , y_pred_prob[:10])

DecisionTreeClassifierModel Train Score is :  0.8829455133172449
DecisionTreeClassifierModel Test Score is :  0.9393939393939394
DecisionTreeClassifierModel Classes are :  ['no' 'yes']
DecisionTreeClassifierModel feature importances are :  [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
----------------------------------------------------
Predicted Value for DecisionTreeClassifierModel is :  ['no' 'no' 'no' 'no' 'no' 'no' 'no' 'no' 'no' 'no']
Prediction Probabilities Value for DecisionTreeClassifierModel is :  [[0.92944021 0.07055979]
 [0.92944021 0.07055979]
 [0.54453812 0.45546188]
 [0.92944021 0.07055979]
 [0.92944021 0.07055979]
 [0.92944021 0.07055979]
 [0.92944021 0.07055979]
 [0.92944021 0.07055979]
 [0.92944021 0.07055979]
 [0.54453812 0.45546188]]

In [46]:
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score

In [47]:
F1Score = f1_score(y_test, y_pred, average='micro') #it can be : binary,macro,weighted,samples
print('F1 Score is : ', F1Score)

F1 Score is :  0.8787878787878788

In [48]:
PrecisionScore = precision_score(y_test, y_pred, average='micro') #it can be : binary,macro,weighted,samples
print('Precision Score is : ', PrecisionScore)

Precision Score is :  0.8787878787878788